<section id="buying" class="buying">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <div class="buying-content">
          <div class="buying-content-inner text-right">
            <h3>Buying</h3>
            <p class="text-muted">Thinking about taking the leap to Arizona? Let us help you find the best location. 
                  From trendy to quaint, there's a neighborhood for you to settle down in and kick off your shoes. 
                  Where will you be this time next year if you don't take the first step?</p>
          </div>
        </div>
    </div>
</section>