<section id="referrals" class="referrals">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <div class="referrals-content">
          <div class="referrals-content-inner text-right">
            <h3>Referrals</h3>
            <p class="text-muted">CBRB is international! Want to leave the state, or move to AZ? Snow Bird, or just looking? 
                                  Contact Us and we'll refer you to a qualified realtor who cares about your happiness. 
                                  We will also gladly receive any referral and will provide 100% to meet your home dreams!</p>
          </div>
        </div>
    </div>
</section>