<section id="renting" class="renting bg-blue">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
            <div class="text-block">
                <h3 class="text-center">Renting</h3><br>
                <p class="text-muted">Whether it's a house, apartment, condo, or townhouse we treat you no less than the buyer or the seller. 
                                  We work hard for everyone of our clients and strive to provide happiness.</p><hr>
            </div>
      </div>
      <div class="col-lg-6">
        <div class="renting-content">
            <div class="renting-thumb"></div>
            </div>
        </div>
      </div>
    </div>
</section>