<section id="renting" class="renting">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <div class="renting-content">
          <div class="renting-content-inner text-right">
            <h3>Renting</h3>
            <p class="text-muted">Whether it's a house, apartment, condo, or townhouse we treat you no less than the buyer or the seller. 
                                  We work hard for everyone of our clients and strive to provide happiness.</p>
          </div>
        </div>
    </div>
</section>