<section id="selling" class="selling bg-blue fade-scroll">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="selling-content">
            <div class="selling-thumb"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-block">
                <h3 class="text-center">Selling</h3><br>
                <p class="text-muted">Want to work with someone you trust? Communicaton and Negotiation are what we do! 
                                      We'll help you get the most with your home and leave you the upmost satisfied!</p><hr>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>