<section id="features" class="features">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="section-heading">
          <h2>Here's what we offer!</h2>
          <p class="text-muted">Our services listed below...</p>
          <hr>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-12">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">
                <div class="feature-item">
                  <i class="glyphicon glyphicon-home text-primary"></i>
                  <h3>Buying</h3>
                  <p class="text-muted">Thinking about taking the leap to Arizona? Let us help you find the best location. 
                  From trendy to quaint, there's a neighborhood for you to settle down in and kick off your shoes. 
                  Where will you be this time next year if you don't take the first step?</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="feature-item">
                  <i class="glyphicon glyphicon-usd text-primary"></i>
                  <h3>Selling</h3>
                  <p class="text-muted">Want to work with someone you trust? Communicaton and Negotiation are what we do! 
                  We'll help you get the most with your home and leave you the upmost satisfied!</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="feature-item">
                  <i class="glyphicon glyphicon-briefcase text-primary"></i>
                  <h3>Rentals</h3>
                  <p class="text-muted">Whether it's a house, apartment, condo, or townhouse we treat you no less than the buyer or the seller. 
                  We work hard for everyone of our clients and strive to provide happiness.</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="feature-item">
                  <i class="glyphicon glyphicon-globe text-primary"></i>
                  <h3>Referrals</h3>
                  <p class="text-muted">CBRB is international! Want to leave the state, or move to AZ? Snow Bird, or just looking? 
                  Contact Us and we'll refer you to a qualified realtor who cares about your happiness. 
                  We will also gladly receive any referral and will provide 100% to meet your home dreams!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>