<section id="slogan" class="slogan">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <div class="slogan-content">
          <div class="slogan-content-inner text-right">
            <h1>We are not selling houses, we are selling happiness</h1>
          </div>
        </div>
    </div>
</section>